@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    margin: 0;
}
body *{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
h1, h2, h3, p{
    font-weight: 400;
    margin: 1.5rem 0;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
    text-transform: capitalize;
}
h3{
    font-size: 2.5rem;
    text-transform: capitalize;
}
ul, figure{
    padding: 0;
    margin: 0;
}
p{
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}
input, textarea{
    font-size: inherit;
    padding: 0;
    border-style: none;
}