/************* General ************/
body{
    background-color: #f1f1f1;
}
.cntr-padding{
    padding: 0 1.5rem;
}
section{
    margin-top: 2.2rem;
}
/************* end General ************/


/************* Header ************/
h1 a{
    color: #f44336;
}
h1 .material-icons{
    font-size: 3rem;
}
header .booking-cntr{
    background: url("../asset/london2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.5rem 1rem;
}
header .booking{
    max-width: 60rem;
    margin: auto;
}
header .booking ul{
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #000;
}
header .booking ul li{
    width: 33.33%; 
}
header .booking ul li:hover,
header .booking ul li.active{
    background-color: #f44336;
}
header .booking ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 200;
    padding: 1rem 0;
}
header .booking ul li a .material-icons{
    margin-right: 0.6rem;
    font-size: 3rem;
}
header .booking-form{
    background-color: #f1f1f1;
    padding: 0.5rem 1.5rem 1.5rem;
}
header .booking-form h2{
    text-align: center;
}
header .booking-form form{
    margin-top: 3rem;
}
header .booking-form .input-ctnr{
    display: flex;
    justify-content: space-around;
}
header .booking-form .input-grp{
    width: 40%;
}
header .booking-form .input-grp>*{
    display: block;
    margin-bottom: 0.6rem;
}
header .booking-form label{
    font-size: 1.8rem;
    font-weight: 300;
}
header .booking-form .input-grp input{
    width: 100%;
    font-size: 1.6rem;
    padding: 1.2rem 1rem;
    border: 1px solid #000;
}
header .booking-form .input-ctnr + div{
    margin-top: 1.5rem;
    text-align: center;
}
header .booking-form .input-ctnr + div input{
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}
/************* end Header ************/

/************* end Main ************/
#offers .gallery,
#explore .offers{
    margin-top: 1.6rem;
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
#offers .gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#offers .gallery ul{
    list-style: none;
    display: grid !important;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}
#explore .offers{
    background-color: #fff;
}
#explore .offers img{
    width: 100%;
}
#explore .offers figcaption{
    padding: 0 1.2rem;
}
#explore .offers .btn-by{
    color: #000;
    border: 1px solid #000;
    padding: 1rem;
    display: block;
    width: max-content;
    font-weight: 400;
}
#newsletter{
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem 2rem;
}
#newsletter input, #newsletter label{
    display: block;
    margin-bottom: 1.6rem;
    font-size: 2rem;
}
#newsletter input[type=email]{
    width: 100%;
    padding: 1.2rem;
}
#newsletter input[type=submit]{
    color: #fff;
    background-color: #f44336;
    padding: 1.2rem 4rem;
}
#contact ul{
    list-style: none;
}
#contact ul li{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#contact .material-icons{
    font-size: 3rem;
    padding-right: 1rem;
}
#contact input, #contact textarea{
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 2rem;
    padding: 1.2rem;
    border: 1px solid #aeaeae;
}
#contact input[type=submit]{
    color: #fff;
    background-color: #000;
    border: none;
    width: max-content;
    padding: 1.2rem 4rem;
    text-transform: uppercase;
}
footer p{
    text-align: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
footer ul li{
    margin: 0 1rem;
}
/************* end Main ************/

/***** media queries *****/
@media screen and (max-width: 575px){
    header h1{
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid #aeaeae;
        margin-bottom: 3rem;
    }
    header .booking-cntr{
        display: none;
    }
    main section{
        padding: 0 1.5rem;
    }
    #offers .gallery, #explore .offers{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    #offers .gallery figure{
        max-width: 100%;
    }
    #offers .gallery ul{
        padding-right: 0;
        grid-template-columns: 100%;
    }
    #contact input[type=submit],
    #newsletter input[type=submit]{
        width: 100%;
    }
}
@media screen and (min-width: 576px){
    .ctnr{
      max-width: 54rem;
      margin: auto;
    }
    #offers .gallery, #explore .offers{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    #offers .gallery figure{
        max-width: 100%;
    }
    #offers .gallery ul{
        padding-right: 0;
        grid-template-columns: 100%;
    }
    header .booking-form .input-ctnr + div input{
        width: 90%;
    }  
}
@media screen and (min-width: 768px){
    .ctnr{
      max-width: 72rem;
    }
    #offers .gallery, #explore .offers{
        flex-direction: row;
        row-gap: 0;
    }
    #offers .gallery figure{
        max-width: 48.6rem;
    }
    #offers .gallery ul{
        padding-right: 1.5rem;
        grid-template-columns: 20rem 20rem
    }
    header .booking-form .input-ctnr + div input{
        width: max-content;
    } 
}
@media screen and (min-width: 992px){
    .ctnr{
      max-width: 96rem;
    }
}
@media screen and (min-width: 1200px){
    .ctnr{
      max-width: 114rem;
    }
}
  /***** fin media queries *****/
  